
* {
  
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;

}


@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}



.me {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 300px;
}

/* .introduction {
  width: 700px;
  color: white;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 100;
  margin-left: 500px;
} */

.d {
  background: linear-gradient(to right, #E70FAA , #00C0FD); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.love {
    background: linear-gradient(to right, #E70FAA , #00C0FD); 
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.me--img {
  border-radius: 100%;
  background: 
    linear-gradient(to right, #E70FAA , #00C0FD); 
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  /* Other styles */
  min-height: 500px;
  padding: 10px;
  margin-right: 200px;
}
.df-img {
  background:url(../src/images/qwerty.png);
  background-size: cover;
  min-height: 500px;
  min-width: 500px; 
  border-radius: 100%;
}



.me--img:hover {
   -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

.tech {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
margin-bottom: 300px;
}

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}

.tech-images {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 200px;
  
}

.tech-description,
.projects-section--description {
  margin-top: 20px;
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 50px;
}

.tech--images > img:hover {
  transform: scale(1.2);
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 50px;
  gap: 100px;
}

.project--image {
  height: 250px;
  width: 350px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project--body {
  padding: 20px;
}

/* .project--second {
  display: flex;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 400px;
  max-height: 400px;
  
} */


.project--description {
 
  font-size: 20px;
  width: 300px;
  line-height: 20px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project--tech {
  font-size: 15px;
  line-height: 26px;
  text-align: left;
}

.project--title {
  font-size: 30px;
  line-height: 26px;
  line-height: 96%;
  text-align: left;
  font-weight: 700;
}

.project--link {
  padding-top: 5px;
  
}

.project--link > .icon {
  height: 15px;
  
}

.project--link--live > a{
  padding-left: 10px;
}

/* .outside-links {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
} */

.source-link {
  
}

.source--link--viewcode > a {
  padding-left: 10px;
 
}

.source-link > .icon {
 
}

#phone, #email {
  
  color: white;
  padding: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-main {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  margin-top: 100px;
}

#input {
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

/* .ContactForm {
  display: flex;
  justify-content: center;
  height: 50vh;
  width:  40vw;
  border: 1px solid;
  border-color: #784BA0;
  border-radius: 10px;
  padding: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
} */

.form-title {
  font-size: 45px;
}

#input {
  color: white
}

#text {
  color: white;
}

.techImg {
  height: 100px;
}

@media screen and (max-width: 600px) {
  
  .me--img { 
  display: block;
  min-height: 170px;
  max-height: 170px;
  min-width: 170px;
  max-width: 170px;
  padding: 2px;
  margin-right: 0px;
}
.df-img {
  
 min-height: 170px;
min-width: 170px;
}

.techImg {
  height: 50px;
}

.project--image {
  height: 200px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project--second {
  display: flex;
  padding: 15px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 350px;
  max-height: 350px;
  max-width: 270px;
}

.project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 40px 40px;
  gap: 70px;
}
  
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  
  .me--img { 
  display: block;
  min-height: 300px;
  max-height: 300px;
  min-width: 300px;
  max-width: 300px;
  padding: 5px;
  margin-right: 0px;
}
.df-img {
  
min-height: 300px;
min-width: 300px;
}
.techImg {
  height: 75px;
}

.project--image {
  height: 250px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project--second {
  display: flex;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 350px;
  max-height: 350px;
  max-width: 260px;
}

.project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 50px 20px;
  gap: 25px;
}

}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  
  .me--img { 
  min-height: 400px;
  max-height: 400px;
  min-width: 400px;
  max-width: 400px;
  padding: 8px;
  margin-right: 0px;
}
.df-img {
  
min-height: 400px;
min-width: 400px;
}
.techImg {
  height: 80px;
}

}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  
.project--image {
  height: 250px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project--second {
  display: flex;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 350px;
  max-height: 350px;
  max-width: 260px;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 50px 20px;
  gap: 25px;
}
}

@media screen and (min-width: 1100px) and (max-width: 1536px) {
  
.project--image {
  height: 250px;
  width: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project--second {
  display: flex;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 350px;
  max-height: 350px;
  max-width: 260px;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 20px;
  gap: 25px;
}

}


@media screen and (min-width: 1537px) {
  
.project--image {
  height: 350px;
  width: 350px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project--second {
  display: flex;
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  min-height: 350px;
  max-height: 350px;
  max-width: 310px;
}

.project {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 50px;
  gap: 100px;
}

}

